[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
supabase = "*"
django-cors-headers = "*"
python-decouple = "*"
pillow = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.13"